@keyframes slideLeftToRight {
    from { 
        opacity: 0;
        transform: translateX(-50px);
     }
    to { 
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideLeftToLeft {
    from { 
        opacity: 0;
        transform: translateX(50px);
     }
    to { 
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes toUp {
    0% { 
        opacity: 0;
        transform: translateY(50px);
     }
    

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes toDown {
    0% { 
        transform: translateY(-50px);
     }

    100% { 
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@keyframes bounceIn-0{
    0% {
        opacity: 0;
        transform: scale(0.5); 
    }
    60% {
      opacity: 1;
      transform: scale(1.2); 
    }
    100% {
      opacity: 1;
      transform:scale(1);
    }
}
@keyframes bounceIn {
    0% {
      transform: scale(0.5); 
    }
    60% {
      opacity: 1;
      transform: scale(1.2); 
    }
    100% {
      opacity: 1;
      transform:scale(1) rotate(-130deg);
    }
}
@keyframes bounceIn-2 {
    0% {
      transform: scale(0.5); 
    }
    60% {
      opacity: 1;
      transform: scale(1.2); 
    }
    100% {
      opacity: 1;
      transform:scale(1) rotate(40deg);
    }
}
@keyframes bounceIn-3 {
    0% {
      transform: scale(0.5); 
    }
    60% {
      opacity: 1;
      transform: scale(1.2); 
    }
    100% {
      opacity: 1;
      transform: scale(0) rotate(0);
    }
}

#home #cta .title,
/* #home #cta .title > span, */
#home #cta .title > img,
#home #cta .title > .paw-icon,
#home #cta .description,
#home #cta #cta_buttons a,
#home #cta .social-media-buttons a,
#banner #img-dog img,
#home .shape,
#home .shape2,
#home .bone-dog-banner,
#home  .paw-dog-banner1,
#home  .paw-dog-banner3,
#home #info_box div,
#home #feedback_home{
    opacity: 0;
}

header{
    animation: toDown .6s 300ms ease-in-out forwards;
}
#home #cta .title {
    animation: toUp .6s 300ms ease-in-out forwards;
}

#home #cta .title > .paw-icon{
    animation: slideLeftToLeft .6s 900ms ease-in-out forwards;
}

#home #cta .description{
    animation: toUp .6s 800ms ease-in-out forwards;
}
#home #cta #cta_buttons > a:first-child{
    animation: fadeIn .6s 1000ms ease-in-out forwards;
}
#home #cta #cta_buttons > a:last-child{
    animation: fadeIn .6s 1200ms ease-in-out forwards;
}
#home #cta .social-media-buttons a{
    animation: fadeIn .6s 800ms ease forwards;
}
#home #cta .social-media-buttons a:nth-child(2){
    animation: fadeIn .6s 1000ms ease-in-out forwards;
}
#home #cta .social-media-buttons a:nth-child(3){
    animation: fadeIn .6s 1200ms ease-in-out forwards;
}
#home #info_box div:first-child{
    animation: fadeIn .6s 800ms ease-in-out forwards;
}
#home #info_box div:last-child{
    animation: fadeIn .6s 800ms ease-in-out forwards;
}

#home .paw-dog-banner1{
    animation: bounceIn-2 0.5s 800ms ease-out forwards;
}
#home .paw-dog-banner3{
    animation: bounceIn 0.5s 1400ms ease-out forwards;
}
#home .paw-dog-banner2{
    animation: bounceIn-0 0.5s 1400ms ease-out forwards;
}
#home .bone-dog-banner{
    animation: bounceIn-0 0.6s 1500ms ease-out forwards;
}
#home #cta .title > .paw-dog-banner4{
    animation: bounceIn-2 0.5s 800ms ease-in-out forwards;
}
#home #cta .title > .paw-dog-banner5{
    animation: bounceIn 0.5s 1000ms ease-in-out forwards;
}
#home .shape:not(.shape2){
    animation: fadeIn 1s 300ms ease-in-out forwards;
}
#home .shape2{
    animation: fadeIn 1s 500ms  ease-in-out forwards;
}
#home #img-dog img:first-child{
    animation: fadeIn 1s 800ms ease-in-out forwards;
}
#home #feedback_home{
    animation: toUp .6s 300ms ease-in-out forwards;
}

