
.line-home{
    height: 50px;
    width: 100%;
    background-color: var(--verde-4);
}

/* .cta-under-home{
    min-height: 200px;
    width: 87%;
    margin: min(10%, 196px) auto 50px auto;
    border-radius: 30px;
    background-color: var(--verde-2);
} */

/* ***************************************************************************** */

.under-services-content{
    position: relative;
    margin: 10vh 0px;
}

.under-service{
    position: relative;
    height: 230px;
    width: 90%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: start ;
    padding: 0px 5%;
    margin: 0 auto;
    background-color: var(--azul-1);
    box-shadow: 3px 2px 0px 1px var(--preto-1);

}

.under-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 12px 12px 0px;
    margin-top: -27px;
    max-width: 689px;
}

.under-info h1{
    color: var(--branco-1);
    font-size: clamp(1.8rem, 4vw, 2rem);
}

.under-info p{
    color: var(--azul-4);
    font-weight: 500;
    margin-top: 5px;
    font-size: clamp(1rem,2.5vw,1.1rem);
    letter-spacing: 1px;
}

.under-service .img-side .gray-dog{
    position: relative;
    bottom: 32px;
    max-height: 294px;
    width: 263px;
   
}
.img-side{
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 5%;
    
}

.bubble3{
    position: relative;
    width: 120px;
    height: 109px;
    top: 29%;
    margin-left: -47px;
}
.bubble2{
    position: absolute;
    right: 71px;
    top: 13px;
    height: 84px;
    width: 127px;
    transform: rotate(19deg);
}

.bubble2-2 {
    position: absolute;
    right: 35%;
    top: 11px;
    height: 48px;
    width: 97px;
    transform: rotate(4deg);
}

@media screen and (max-width: 1214px) {
    .bubble2-2 {
        display: none;
    }
    .bubble2{
        right: 30px;
    }
    
}

@media screen and (max-width: 1024px){
    .under-service{
        padding: 0px 2%;
    }
    
    .img-side img:last-child{
        display: none;
    }

    .img-side{
        margin-right: 4%;
    }
    
}

@media screen and (max-width: 913px){
    .under-info{
        margin-top: 0px;
    }
    
}
@media screen and (max-width: 750px){
    .img-side img:first-child{
        display: none;
    }
    .under-info{
        padding: 12px;
    }
    .under-service{
        padding: 0px 5%;
    }

    .under-service{
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 450px){

    .under-service{
        height: auto;
        padding: 20px;
    }
    .bubble2{
        right: 3px;
        top: 0;
    }
}

/* ***************************************************************************** */

.under-produtos-content{
    position: relative;
    width: 100%;
    margin: min(15rem, 200px) 0;
    border-bottom: 5px solid var(--preto-1);
}

.under-produtos-content .under-produto{
    position: relative;
    padding-left: 2.5rem;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--amarelo-3);
    color: var(--branco-1);
}

.cta-under-produto-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
    height: 100%;
    max-width: 800px;
}

.cta-under-produto-info h1{
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: 700;
    color: var(--preto-1);
    position: relative;
    line-height: 0.5;
}
.cta-under-produto-info p{
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    font-weight: 600;
    color: var(--branco-1);
    
}
.cta-under-produto-info .btn-under-produto{
    width: 154px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    color: var(--preto-1);
    background-color: var(--branco-1);
    font-weight: 700;
    box-shadow: 3px 2px 0px 1px var(--preto-1);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.btn-under-produto:active{
    transform: translateY(4px);
    box-shadow: 0px 0px 0px var(--preto-1);

}

.under-produto-paw-2{
    width: 50px;
    height: auto;
    position: relative;
    display: inline-block;
    right: -20px;
    bottom: -10px;
    filter: opacity(0.4);
    transform: rotate(28deg);

}
.under-produto-img-side{
    position: relative;
    display: flex;
    align-items: center;
}
.cta-under-produto-img{
    position: relative;
    right: -20px;
    bottom: 50px;
}

 .under-produto-bone{
    width: 100px;
    position: relative;
    right: -70px;
    top: 40px;
    filter: opacity(0.5);
}

.under-produto-paw{
    width: 50px;
    height: auto;
    position: absolute;
    right: -26px;
    filter: opacity(0.5);
    transform: rotate(235deg);
}

@media screen and (max-width: 940px){
    .cta-under-produto-img{
        width: 320px;
        height: auto;
        bottom: 35px;
    }
    .under-produtos-content .under-produto{
        height: 250px;
    }
    .under-produto-paw-2,
    .under-produto-paw{
        display: none;
    }

    .cta-under-produto-info{
        width: 100%;
    }
    .cta-under-produto-info h1{
        line-height: normal;
    }
    .cta-under-produto-info p{
        font-size: 0.9rem;
    }

    .cta-under-produto-info{
        gap: 20px;
    }
    .cta-under-produto-info .btn-under-produto{
        font-size: 12px;

    }
    .under-produto-bone{
        width: 65px;
        right: -82px;
        top: 74px;
    }

   

    
}

@media screen and (max-width: 710px) {
    .cta-under-produto-img{
        display: none;
    }
    .under-produtos-content .under-produto{
        height: 220px;
        padding-right: 2.5rem
    }
    .under-produto-paw-2,
    .under-produto-paw{
        position: absolute;
        display: block;
    }
    .cta-under-produto-info h1{
        font-size: 1.3rem;
    }
    .cta-under-produto-info p{
        font-size: 0.9rem;
        
    }
    .under-produto-img-side{
        display: none;
    }  
}