header{
    position: sticky;
    width: 95%;
    height: auto;
    margin: 1.8vh auto 0vh auto;
    background-color: #317773;
    border-radius: 10px;

}

.logo{
    font-weight: 600;
    font-size: 24px;
    margin-left: 2%;
    /* padding: 0; */
}
#menu_header{
    padding: 10px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#menu_header .login{
    margin-right: 2%;
}

#nav_list{
    display: flex;
    gap: 30px;
    list-style: none;

}

.login{
    display: flex;
    align-items: center;
    gap: 18px;
}
.login > .cadastrar{
    background-color: #F5A52C;
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 5px;
}

#mobile_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;    
}



#hamburguer_menu {
    width: 22px;
    height: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    z-index: 110;
    margin-right: 3%;
    cursor: pointer;
}

#hamburguer_menu > span {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.249);
    transition: 0.3s cubic-bezier(0.5, 0, 1, 1);
}

/* Estados do botão ao ativar */
#hamburguer_menu.active span:nth-child(1) {
    transform: rotate(225deg);
    width: 27px;
    top: 50%;
    left: -1px;
}

#hamburguer_menu.active span:nth-child(2) {
    opacity: 0;
}

#hamburguer_menu.active span:nth-child(3) {
    transform: rotate(-225deg);
    width: 27px;
    top: 50%;
    left: -1px;
}


#hamburguer_menu span:nth-child(1) {
    top: 0;
}

#hamburguer_menu span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

#hamburguer_menu span:nth-child(3) {
    bottom: 0;
}


@media screen and (max-width: 1100px){
    #nav_list,
    .login{
        display: none;
    }
   
    #hamburguer_menu{
        display: block;
    }

   #nav_list_mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
        list-style: none;
    }

    #mobile_menu.active{
        max-height: 250px;
    }

    .login-mobile{
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 5px 0px 15px 0px;
    }

    .login-mobile .cadastrar{
        background-color: #F5A52C;
        border-radius: 8px;
        padding: 10px;
    }
    
 

    
}
