#home{
    display: flex;
    min-height: calc(100vh - 1.8vh - 62px);
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-bottom: 0px;
    overflow: hidden;

}

#cta{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 5.5%;
    /* margin-top: 10vh; */
    flex-basis: 58%;
    
}
#cta .title{
    position: relative;
    font-size: clamp(25px, 12vw, 4rem);
    line-height: 1.2;
    font-weight: 700;
    max-width: 80%;
}

#cta .title span{ 
    color: #F5A52C;
    background: linear-gradient(90deg, #FFEB00, #FDC731);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paw-icon{
    margin-bottom: 13px;
    width: 50px;
    height: 50px;
    transform: rotate(10deg);
    vertical-align: bottom;
    
}


#cta .description{
    max-width: 75%;
    font-size: clamp(0.8rem, 8vw, 1.1rem);
    font-weight: 500;
}

#cta_buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
}

#cta_buttons a{
    padding: 0;
    width: 154px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#cta_buttons a:first-child,
.login .cadastrar{
    background-color: #F5A52C;
    transition: background .2s ease-in;
   
}

#cta_buttons a:first-child:hover,
.login .cadastrar:hover{
    background-color: #f5b92c;
    box-shadow: none;
}


#cta_buttons a:last-child{
    background-color: #173836;
    text-decoration: underline;
    text-decoration-thickness: 1.5px;
    text-underline-offset: 2px;
    transition: background .2s ease-in;

}

#cta_buttons a:last-child:hover{
    background-color: #1e4a47;
    box-shadow: none;
}

#cta #info_box{
    display: flex;
    gap: 70px;
    font-weight: 600;
    margin-top: calc(44px - 32px);
}

#cta #info_box h2{
    font-size: 1.875rem;
    font-weight: 700;
    color: #173836;

}

#cta .social-media-buttons{
    display: flex;
    gap: 5px;
    margin-left: -6px;
    margin-top: calc(44px - 32px);

}
#cta .social-media-buttons a img{
    width: 50px;
    height: 50px;
    /* filter: drop-shadow(1px 1px 8px  rgba(0, 0, 0, 0.21)); */
    object-fit: cover;
    transition: all 0.3s ease-in-out;


}

/* #cta .social-media-buttons a:nth-child(1):hover img{
    content: url('../images/home-image/facebook-light.png');
    transform: scale(1.1);
}
#cta .social-media-buttons a:nth-child(2):hover img{
    content: url('../images/home-image/instagram-light.png');
    transform: scale(1.1); 
}
#cta .social-media-buttons a:nth-child(3):hover img{
    content: url('../images/home-image/whatsapp-light.png');
    transform: scale(1.1);
}

#cta .social-media-buttons a{
    padding: 0px;

} */


#home .shape{
    position: absolute;
    bottom: -231px;
    right: -189px;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: #FDC731;
    z-index: 1;
}

#home .shape.shape2{
    background-color: #FFD55F;
    height: 700px;
    width: 700px;
    bottom: -186px;
    right: -143px;
}

#home #feedback_home{
    position: absolute;
    bottom: 10%;
    right: 500px;
    z-index: 2;
    flex-direction: column;
    gap: 7px;
    display: flex;
    width: 214px;
    min-height: 135px;
    border-radius: 25px;
    padding: 14px;
    background-color: #317773;
    color: #fff;
    z-index: 6;
    box-shadow: 2px 2px 10px #17383664;
}

#feedback_home .comment-header{
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.comment-header .name-stars{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
}
.comment-header .name-stars img{
    width: 16px;
    height: 16px;
    filter: brightness(1.1);
}

#feedback_home hr{
    opacity: 0.7;
    width: 95%;
    margin: 0px auto;
}

#feedback_home .comment{
    font-size: 14px;
    font-weight: 500;
    padding: 0px 5px;
}


#banner{
    position: relative;
    flex-basis: 42%;
    overflow: hidden;
}

#img-dog{
    height: 648px;
    width: 100%;
}

#banner #img-dog img:first-child{
    position: absolute;
    bottom: -10px;
    right: 60px;
    z-index: 2;
    transform: scale(1.2);
    object-fit: cover;
}



#home .paw-dog-banner1{
    position: absolute;
    height: 70px;
    width: 70px;
    z-index: 5;
    top: 10%;
    right: 40%;
    transform: rotate(40deg);
}

.paw-dog-banner2{
    position: absolute;
    height: 70px;
    width: 70px;
    z-index: 5;
    right: 20px;
    bottom:250px;
    transform: rotate(160deg);
    filter: opacity(0.4);

}

.paw-dog-banner3{
    position: absolute;
    height: 50px;
    width: 53px;
    z-index: 5;
    right: 160px;
    bottom:495px;
    filter: opacity(0.4);
    transform: rotate(-10deg);

}
.paw-dog-banner4,
.paw-dog-banner5{
    display: none;
}
.bone-dog-banner{
    position: absolute;
    height: 105px;
    width: 105px;
    z-index: 5;
    bottom: 12rem;
    right: 30rem;
    filter: opacity(0.6);

}


/* @media screen and (max-height: 1300px) and (max-width: 1250px) {
    #home{
        min-height: 100%;
        margin-bottom: 50px;
    }
   
    
} */

@media screen and (min-height: 800px ) and (min-width: 1280px){
    #home{
        min-height: 770px;
    }

    
}

@media screen and (min-height: 900px ){
    #home{
        min-height: 750px;
        align-items: center;
        margin-top: 0px;
    }

    #banner{
        overflow: visible;
    }

}

@media screen and (max-width: 1260px) {
    #banner,
    .shape, .shape.shape2,
    .paw-dog-banner1, .paw-dog-banner2, .paw-dog-banner3,
    .bone-dog-banner,
    #home #feedback_home
    {
        display: none;
    }

    #home{
        padding: 2% 4.5%;
    }
    #cta{
        flex-basis: 100%;
        align-items: center;
        text-align: center;

    }

}

@media screen and (max-width: 750px){
    #cta .title{
        max-width: 100%;
    }

    #cta .description{
        max-width: 90%;
    }
}

@media screen and (max-width: 750px){

    #cta .title{
        margin-top: 6%;
    }

    #cta .description{
        font-size: 1rem;
    }
}

@media screen and (max-width: 690px){
    #cta #info_box{
        margin-top: 12px;
    }
    
}
@media screen and (max-width: 600px){
    .title .paw-icon{
        margin-left: 14px;
        margin-bottom: 9px;
    }
}

@media screen and (max-width: 450px) and (max-height: 960px) {
    #home{
        flex-direction: column;
        min-height: 100%;
        margin-bottom: 5dvh;

    }

    #cta .title{
        max-width: 80%;
        
    }
    #cta .title .paw-icon{
        display: none;
    }
    #cta .description{
        max-width: 95%;
        font-size: 1rem;
    }
    #home .paw-dog-banner5{
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        right: 0;
        top: 0;
        transform: rotate(-130deg);
    }

    .title .paw-dog-banner4{
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        bottom: 0;
        left: 0;
        transform: rotate(40deg);

    }

    @media screen and (max-width: 330px) {
        #cta_buttons{
            flex-direction: column;
        }
        #cta #info_box{
            display: none;
        }
    }

    
}


/* @keyframes surgir{
    0%{
        transform: translateX(-200px);
        opacity: 0;
        
    }
    30%{
        transform: translateX(-200px);
        opacity: 0;
    }
    60%{
        transform: translateX(-200px);
        opacity: 0;
    }
    

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} */