#planos{
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    gap: 5rem;
    position: relative;
    overflow: hidden;

}

#planos .planos-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

#planos .planos-header p{
    max-width: 697px;
}

#planos .content-planos{
    display: flex;
    gap: 30px;
    overflow-x: auto;
    width: 100%;
    justify-content: center;
    align-items: end;
    
}
.content-planos::-webkit-scrollbar{
    width: 0;
}


.plano-amigo,
.plano-companheiro,
.plano-vipet{
    padding: 30px 28px 18px 28px;
    border-radius: 30px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.25);
    flex-shrink: 0;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.card-header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.preco{
    margin-bottom: 34px;
}

.plano-beneficios{
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-bottom: 20px;
    font-weight: 500;
}
.line{
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.plano-descricao{
    font-size: 14px;
    font-weight: 550;
}
.button{
    height: 45px;
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: absolute;
    bottom: 0;
    margin-bottom: 18px;
    
}
.content-planos .plano-amigo{
    min-height: 28.125rem;
    width: 303px;
    border-top: 10px solid  var(--azul-3);

}
.plano-amigo  h1{
    font-size: 1.5rem;
    color: var(--verde-7);
    font-weight: 700;
}

.plano-amigo span{
    font-size: 22px;
    font-weight: 700;
    color: var(--azul-2);
}

.plano-amigo a:last-child {
    background-color: var(--azul-3);
}

.content-planos .plano-companheiro{
    min-height: 30rem;
    width: 303px;
    border-top: 10px solid var(--verde-3);
}

.plano-companheiro h1{
    font-size: 1.5rem;
    color: var(--verde-10);
}

.plano-companheiro span{
    font-size: 22px;
    font-weight: 700;
    color: var(--verde-5);
}

.plano-companheiro a:last-child {
    background-color: var(--verde-4);
    
}
.content-planos .plano-vipet{
    min-height: 32.5rem;
    width: 303px;
    border-top: 10px solid var(--amarelo-6);
    border-bottom: 5px solid var(--amarelo-6);
}

.plano-vipet h1{
    font-size: 1.8rem;
    color: var(--marrom-1);
}

.plano-vipet span{
    font-size: 24px;
    font-weight: 700;
    color: var(--amarelo-6);
}

.plano-vipet a:last-child {
    background-color: var(--amarelo-6);
    
}

@media screen and (max-width: 1090px) {

    #planos .content-planos{
        justify-content: flex-start;
        
    }
    #planos .content-planos div:first-child{
        margin-left: 1dvh;
    }
    #planos .content-planos div:last-child{
        margin-right: 1dvh;
    }
    
}