#sobre{
    display: flex;
    width: 100%;
    min-height: 100vh;

}

#about_us{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    gap: 50px;
    margin-top: 5%;
    padding-right: 30px;
}

#sobre .section-title,
#sobre .section-title > span{
    font-size: clamp(25px, 8.5vw, 3rem);
    line-height: 1.2;
    letter-spacing: 1px;
    position: relative;
    width: 80%;
    z-index: 2;
}


.section-title img{
    position: absolute;
    max-width: 130px;
    max-height: 80px;
    opacity: 0.4;
    top: 25px;
    left: 240px;
    transform: rotate(40deg);

}


#about_us #about_description{
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 78%;
    font-weight: 450;
    font-size: clamp(0.9rem, 4vw, 1rem);
    text-align: justify;

}


.benefits-container{
    display: flex;
    justify-content:  space-around;
    max-width: 500px;

    border-radius: 20px;
    padding: 15px 0px;
    gap: 10px;
    box-shadow: 3px 3px 5px 0px #17383664
    
}

.benefit {
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    position: relative;
}

.benefit:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 25%;
    right: -30px;
    width: 1.3px;
    opacity: 0.3;
    height: 50%;
    background-color:  #1738364f;/* Cor da linha */
}

.icon {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background: rgba(48, 118, 113, 0.16);
    border-radius: 50%;
}

.icon i {
    font-size: 20px;
    color: #2E535A;
}

.benefit h4 {
    font-size: 12px;
    font-weight: bold;
    color: #173836;
}


#sobre #about_gallery{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis:40%;
    height: 100%;
    gap: 30px;
    margin-top: 5%;
}
#about_gallery .side1 .about-img-circle{
    height: 120px;
    width: 120px;
    border-radius: 100%;
}
#about_gallery .side1 .about-img1{
    height: 294px;
    width: 210px;
    border-radius: 20px;
}

.side1,.side2{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}
.side2{
    gap: 30px
}
.side1{
    gap: 40px
}

.side2 .about-img1{
    height: 316px;
    width: 232px;
    border-radius: 20px;
}

.side2 .about-img2{
    height: 265px;
    width: 232px;
    background-color: aqua;
    border-radius: 20px;
}



@media screen and (max-width: 1260px) {

    #about_us #about_description{
        width: 90%;
    }

    #sobre #about_gallery{
        flex-direction: column;
        align-items: center;
        justify-items: end;
        gap: 15px;
        margin-top: 9%;
    
    }
    #about_gallery .side1 .about-img1{
        height: 280px;
        width: 200px;
    }
    
    .side1 img:first-child{
        display: none;
    }
    .side2{
        gap: 18px;
    }

    .side2,.side1{
        display: flex;
        flex-direction: row;
        
    }

    .side2 .about-img2,
    .side2 img:first-child{
        height: 280px;
        width: 200px;
    }
}


@media screen and (max-width: 1217px){

    #sobre #about_us{
        flex-basis:70%;
    }
    #sobre #about_gallery{
        flex-basis:30%;
    
    
}
@media screen and (max-width: 1110px){
    .side2 img:first-child{
        display: none;
    }
    #sobre #about_gallery{
        align-items: end;
    }

    #about_us #about_description{
        width: 90%;
    }
}


@media screen and (max-width: 910px){
    #sobre{
        flex-direction: column;
        align-items: center;
    }

    #about_us{
        flex-basis: 100%; 
        padding-right: 0px;
    }

    #about_us #about_description{
        width: 85%;
    }

    #about_gallery{
        flex-basis: 100%;
        
    }
    .side2 img:first-child{
        display: block;
    }

    #sobre #about_gallery {
        margin-top: 20%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    }


}

@media screen and (max-width: 695px){
    
    .side2 img:first-child{
        height: 200px;
        width: 150px;
    }

    #about_gallery .side1 .about-img1,
    .side2 .about-img2{
        height: 250px;
        width: 180px;
    }

    #about_us #about_description{
        width: 95%;
        text-align: start;
    }
    
}

@media screen and (max-width: 450px){

    .section-title img{
        max-width: 100px;
        max-height: 61.54px;
        opacity: 0.4;
        top: 8px;
        left: 180px;
        z-index: 1;
       
    
    }
    .side2 img:first-child{
        height: 150px;
        width: 120px;
    }

    #about_gallery .side1 .about-img1,
    .side2 .about-img2{
        height: 210px;
        width: 150px;
    }

    .benefit:not(:last-child)::after{
        right: -20px;
    }
}




}



