@import url(header.css);
@import url(home.css);
@import url(sobre.css);
@import url(cta_page.css);
@import url(servicos.css);
@import url(planos.css);
@import url(produtos.css);
@import url(contato.css);
@import url(footer.css);
@import url(animation.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Quicksand", sans-serif;

}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
    display: none;
}

body{
    background-color: #FFFEFC;
   
}

section{
    min-height: 100dvh;
    width: 100%;
    padding: 28px 4.5%;
}
section *{
    transition: all 0.1s ease;
}

ul li{
    list-style: none;
}

@media screen and (min-width: 1500px){
    .content-main{
        width: 1536px;
        margin: 0 auto;
    }
    section{
        min-height: 100%;
    }
    footer .footer-info{
        min-height: 100%;
    }
}   
img{
    object-fit: cover;
}

.section-title{
    font-family: 'ADLaM Display';
    font-size: clamp(1.3rem, 1.75rem, 2rem);
    color: #173836;
}
.section-title > span{
    font-family: 'ADLaM Display';
    font-size: clamp(1.3rem, 1.75rem, 2rem);
    color: #FDC731;
}

.section-sub-title{
    font-family:"Quicksand", sans-serif;
    font-size: 1rem;
    color: #317773;
    width: 100%;

}

.btn-default{
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-weight: 600;
    box-shadow: 1px 1px 8px  rgba(0, 0, 0, 0.21);
    cursor: pointer;
    
}


